# List all files colorized in long format, including dot files
alias la="ls -Gla"
alias ls="ls -la"

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en0' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en0 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# Disable Spotlight
alias spotoff="sudo mdutil -a -i off"
# Enable Spotlight
alias spoton="sudo mdutil -a -i on"

# Gadgets and Hackz
alias beep="osascript -e 'display notification \"\" with title \"All done.\"' && say all done"
alias commit-style="cat ~/dev/commit-style.md"
alias gif=gifify
alias cpssh="pbcopy < ~/.ssh/id_rsa.pub"

# Yarn rocks
alias y=yarn

# Rails
alias fresh='nvm use 10; bundle install; npm ci; say installed; dbm; dbmt; say migrated; rake solr:reindex; say done'
alias dbc='rake db:create'
alias dbd='rake db:drop'
alias dbm='rake db:migrate'
alias dbr='rake db:rollback'

alias dbct='rake db:create RAILS_ENV=test'
alias dbdt='rake db:drop RAILS_ENV=test'
alias dbmt='rake db:migrate RAILS_ENV=test'
alias dbrt='rake db:rollback RAILS_ENV=test'

alias rake='noglob rake'

alias tldiff="test_launcher \$(git diff -r --no-commit-id --name-only master | xargs -I % echo \$(git rev-parse --show-toplevel)/% | grep _test\.rb)"
