# Add composer installs to path
export PATH="$HOME/.composer/vendor/bin:$PATH"

# Node version management
export NVM_DIR="/Users/infiniteluke/.nvm"

# PATH Variable
  # Ruby version management
  export PATH="$PATH:$HOME/.rvm/bin"

# Automatically added by Platform.sh CLI installer
export PATH="/Users/infiniteluke/.platformsh/bin:$PATH"
. '/Users/infiniteluke/.platformsh/shell-config.rc' 2>/dev/null
